html,
body,
:root {
    height: 100%;
}

.container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0 1rem;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.menu-divider::after {
    content: "|";
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;
}

.intro {
    background: #F9F9F9;
    padding: 2rem;
    display: flex;
    justify-items: center;
    gap: 4rem;
}

.special {
    padding: 2rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 4rem;
}

.menu-icon {
    width: 20px;
    height: 20px;
}

.intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.intro-section-header {
    display: flex;
    flex-direction: column;
}

.intro-section-title {
    font-weight: 300 ;
    font-size: 14px;
    letter-spacing: 0.5rem;
    color: #3B5B7C;
}

.intro-section-description {
    font-weight: 700;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: 20%;
    color: #3B5B7C;
}

.intro-section-content {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
    color: #3B5B7C;
}

.intro-section-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icon-box-circle {
    height: 82px;
    width: 82px;
    padding: 0.5rem;
    background: #CFF1FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    overflow: hidden;
}

.intro-icon-box {
    display: flex;
    justify-content: center;
}

.intro-icon-box p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.gap-2 {
    gap: 1rem !important;
}

.gap-1 {
    gap: 0.5rem !important;
}

.gap-4 {
    gap: 2rem !important;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-main {
    background: #5C6467;
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding: 2rem;
}

.footer-menu-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #C2C2C2;
}

.footer-menu-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #C2C2C2;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.footer-link-list {
    display: flex;
    align-items: center;
}

.footer-copyright-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-link-list-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #6C6C6C;
}

.footer-link-list-item:first-child {
    list-style-type: none;
}

.footer-copyright-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.banner-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}


.phone-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.connect {
    display: flex;
    flex-direction: column;
    gap: -2rem;
}

.connect-detail {
    font-size: 10px;
    font-weight: 700;
}

.p-2 {
    padding: 2rem;
}

ul {
    margin-bottom: 0 !important;
}

.social-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.special-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.special-description {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #67A59A;
}

.special-content {
    font-size: 23px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    width: 50%;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    height: 20;
    padding: 0.3rem;
    z-index: 99999;
}

.burger {
    display: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.menu-items,
.menu {
    display: flex;
}

.menu-right {
    position: relative;
    margin-left: auto;
    gap: 6px;
}

.menu-right img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.menu-right .badge {
    position: absolute;
    top: 0;
    left: 14px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #161b22;
    background: linear-gradient(#54a3ff, #006eed);
}

a,
a:is(:visited, :active) {
    color: #ffffff;
    text-decoration: none;
    line-height: 24px;
}

@media (width <=1024px) {

    .menu-divider::after {
        display: none !important;
    }

    .footer-link-list {
        gap: 1rem !important;
    }

    .footer-divider::after {
        display: none !important;
    }

    .gray-box {
        display: none !important;
    }

    .control-btn {
        display: none !important;
        }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        position: block !important;
        height: 20;
        padding: 0.3rem;
    }

    .menu-right img:nth-child(n + 3) {
        display: none;
    }

    .menu-items {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .menu-left {
        flex-direction: column;
        gap: 12px;
    }

    .menu-left a {
        border-bottom: 1px solid #30363d;
        padding-bottom: 10px;
    }

    .menu-right {
        margin-left: 0;
    }

    .burger {
        display: block;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .special {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 1rem;
    }

    .special-content {
        width: 100%;
    }

    .service-card-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer-main {
        display: none;
    }

    .field {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center !important;
        justify-content: center !important;
    }

    .banner-address {
        text-align: center !important;
    }

    .seperator {
        background: #000000;
        width: 100%;
        height: 1rem;
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }

    .footer-link-list {
        display: flex;
        flex-direction: column;
    }

    .footer-link-list-item {
        list-style: none !important;
    }

    .intro-section-header {
        margin-top: 1rem !important;
    }

    .field-2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start !important;
        justify-content: center !important;
    }

    .single-button {
        margin-bottom: 1rem !important;
    }

    .detail-banner {
        background-image: url("../img/detail.svg");
        height: 860px;
        width: 100%;
        object-fit: contain;
        object-position: center;
        position: relative;
    }

    .detail-banner .card {
        position: absolute;
        width: 400px !important;
        height: 400px !important;
        right: 8% !important;
        top: 20% !important;
        padding: 0 !important;
        border: none;
        border-radius: 0%;
    }

    .slider-content {
        display: none !important;
    }

    .slider-title {
        font-size: 10px !important;
    }

    .slider-description {
        font-size: 24px !important;
    }

}

.slider-description {
    font-size: 60px;
    font-weight: 900;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: center;
}

.slider-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.22em;
    text-align: center;
}

.slider-content {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}

body.open .menu-items {
    display: flex;
}

.seperator-2 {
    width: 1px;
    height: 100px;
    background-color: #000;
}

.px-6 {
    padding-left: 4rem;
    padding-right: 4rem ;
}

.bg-white {
    background: white;
}

.single-header {
    display: flex;
    flex-direction: column;
}

.single-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}

.single-title-2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #67A59A;
}

.single-button {
    background: transparent;
    border: 1px solid #ccc;
    width: 25%;
    padding: 0.7rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.detail-banner {
    background-image: url("../img/detail.svg");
    height: 860px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    position: relative;
}

.detail-banner .card {
    position: absolute;
    right: 10%;
    top: 30%;
    opacity: 90%;
    padding: 4rem;
    border: none;
    border-radius: 0%;
}

.detail-button {
    background: #67A59A;
    width: 50%;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    color: white;
}

.service-section {
    background: #F9F9F9;
    padding: 2rem;
    gap: 4rem;
}

.service-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B5B7C;
}

.service-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.service-card {
    border: none !important;
    background: none !important;
    border-radius: 0 !important;
}

.service-card img {
    border-radius: 0 !important;
}

.svg-icon {
    position: absolute;
    top: 1;
    right: 2;
}


.card-img-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-bottom {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding: 2rem !important;
    background-color: rgba(13, 17, 23, 0.50);
}

.banner-number {
    font-size: 28px;
    font-weight: 700;
}

.banner-mini {
    font-size: 12px;
    font-weight: 700;
}

.banner-address {
    font-size: 14px;
    width: 45%;
}

#slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
 }

 .slider {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
 }

 .slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: center;
 }

 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
 }

 .slide img {
    width: 100%;
    height: auto;
    margin: 0 auto;
 }

 .slide-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
 }

 .slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
 }

 .control-btn {
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    outline: none;
 }



 .status-bar {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .status-dot {
    width: 30px;
    height: 5px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
 }

 .status-dot.active {
    background-color: white;
    width: 60px;
 }



.testimonial-slider {
    background-color: #5072a7;
    padding: 3em 2em;
}

.testimonial-title {
    color: #fff;
}

.testimonial-title h2 {
    padding-left: 0.2em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #fff;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    top: 60%;
    transform: translateY(-50%);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 50%;
        display: block;
    }

    .carousel-inner {
        display: flex;
    }
}

@media (min-width: 768px) {
    .carousel-inner {
        padding: 1em;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 3em;
        height: 3em;
        position: absolute;
        left: 1em;
        top: 90%;
        opacity: 1;
    }

    .carousel-control-next {
        left: 4.5em;
    }
}

.testimonial-slider {
    background-color: white;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.z-10 {
    z-index: 999 !important;
}

.item-header {
    position: absolute !important;
    top: 40%;
    left: 10%;
}

.text-thin {
    font-weight: 300 !important;
}

.abs-right {
    position: absolute;
    right: 5% !important;
    bottom: 5% !important;
}

.absolute-right {
    position: absolute;
    right: 0 !important;
}

.item-button {
    padding: 1rem 2rem !important;
    border: none;
    background-color: white;
    display: flex;
    gap: 2rem;
}

.gray-box {
    position: absolute;
    background-color: #E7FFFB;
    height: 500px;
    width: 500px;
    margin-top: -30px;
}

.my-4 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

.footer-divider::after {
    content: "•";
    margin-left: 1rem;
    margin-right: 1rem;
    color: #718096;
}
